
<div class="row">
  <div class="wrapper fadeInDown">
      <div id="formContent">
          <!-- Tabs Titles -->
          <!-- Icon -->
          <div class="fadeIn first">
              <h5>Bienvenido:</h5>
              <img src=".\assets\apple_saffari.png" id="icon" alt="User Icon" style="width: 30%;" />
              <h6>Ingrese sus credenciales</h6>
          </div>

          <!-- Login Form -->
          <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
              <input formControlName="email" type="text" autocomplete="off" class="fadeIn second" placeholder="correo@ejemplo.com">
              <div class="mb-3" *ngIf="formLogin.get('email').errors && formLogin.get('email').dirty">
                 <!--  <span class="spanAlert" *ngIf="formLogin.get('email').hasError('required')">
                      El correo es un campo requerido.
                  </span> -->
                  <span class="spanAlert" *ngIf="formLogin.get('email').errors.pattern">
                      El formato del correo no es valido.
                  </span>
              </div>
              <input formControlName="password" type="password" autocomplete="off" class="fadeIn third" id="password" placeholder="*************">
              
              <button  type="submit" class="fadeIn fourth">Ingresar</button>
          </form>
          <h6>Datos de desarrollo</h6>
          <h6>mail: challenge@alkemy.org</h6>
          <h6>password: react</h6>
      </div>
  </div>

</div>
